extends ./layout.jade
block contenido
  body
    div(class="col-md-13 col-sm-12 col-xs-11 text-center")
      img(src="imagenes/monograma.jpg" class="animated tada" alt="")
      h1(class="lobster grande celeste animated wobble retraso1" id="tamletra") Complejo Educativo John F. Kennedy
      h2(class="lobster mediana celeste animated wobble retraso1" id="tamletra") Bienvenidos!!
      br
      br
      br
